<!DOCTYPE html>
<html>
  <head>
    <title>TestWebpack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div  data-app="vue">
    <%= yield %>
    <card-form path="a/b" plan-id="1"></card-form>
  </div>
  </body>

</html>
